<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Iris_Nissim_1.jpg" alt="">
    </div>
    
    {{>footer}}
</body>

</html>